@charset "utf-8";

/* -------------------------------------------------------------------------------------------------- */
/*                                                                                                    */
/*                                     タグへのスタイルシート指定                                       */
/*                                                                                                    */
/* -------------------------------------------------------------------------------------------------- */

*          { line-height: 1.2; }
*:not(img) { box-sizing: border-box; }

html, body { height: 100%; }

html {
	margin     : 0;
	padding    : 0;
	font-size  : 16px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

body {
	margin   : 0;
	padding  : 0 1rem;
	min-width: calc(2rem + 840px);
}

a         { font-style: normal; font-weight: normal; text-decoration: none; }
a:link    { color: #0068ff; }
a:visited { color: #ff8c00; }
a:hover   { color: #8000ff; text-decoration: underline; }
a:active  { color: #ff8c00; }
a:focus   { outline: dotted 1px; }

a[href^="http"]:empty::before { content: attr(href); }

pre, code, kbd, samp, var {
    font-family: "Monaco", "Consolas", "Courier New", Courier, monospace, sans-serif;
}

/* ヘッダーへのスタイル指定の再構成 (リファクタリング後の階層に準拠) */
h1, h2, h3, h4, h5, h6 {
	margin     : 1.5rem 0;
	padding-top: 0.50rem; padding-bottom: 0.25rem;
	color      : #333;
}

h1 {
	padding-top   : 0.25rem; padding-bottom: 0.25rem;
	font-size     : 2.00rem;
}

h2 {
	padding-left : 0.5rem;
	border       : solid 1px #ccc;
	border-radius: 0.5rem;
	border-left  : solid 0.5rem darkorange;
	font-size    : 1.50rem;
}

h3 {
	padding-left : 1rem;
	border-top   : double 3px #888;
	border-bottom: double 3px #888;
	font-size    : 1.20rem;
}

h4, h5, h6 {
	padding-left : 1rem;
	border-bottom: dotted 2px #888;
	font-size    : 1.00rem;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-style: normal; font-weight: bold; text-decoration: none;
	color: #333;
}

/* 見出しホバー時に判りやすく */
h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
	border-radius   : 0.5rem;
	background-color: #fda;
}

/* -------------------------------------------------------------------------------------------------- */
/*                                                                                                    */
/*                                           レイアウト指定                                            */
/*                                                                                                    */
/* -------------------------------------------------------------------------------------------------- */

#contents {
	box-sizing: border-box;
	margin    : 1rem auto; padding: 0; min-width: 840px; max-width: 1280px;
}

#header { margin-top: 0; padding: 0.5rem 0; background-color: #0080ee; }
#footer { margin-bottom: 0; padding: 0.5rem; }

/* -------------------------------------------------------------------------------------------------- */
/*                                                                                                    */
/*                                          パーツ指定 その1                                           */
/*                                                                                                    */
/* -------------------------------------------------------------------------------------------------- */

.entry {
	margin-bottom: 1rem; padding: 1rem;
	border       : solid 1px #333;
	border-radius: 0.5rem;
	font-style   : normal; text-decoration: none; font-weight: normal; color: #303030;
}

.entry > *:first-child { margin-top: 0; }
.entry > *:last-child  { margin-bottom: 0; }

.entry ul > li {
	font-size: 1rem !important;
}
