@charset "utf-8";

/* ------------------------------------------------------------------------------------------ */

/*                                                                                            */
/*                                    Variable Definition                                     */
/*                                                                                            */
/* ------------------------------------------------------------------------------------------ */

:root {
	--layout-min-width     : 1280px;
	--sidebar-sticky-height: 480px;
	--sidebar-size-width   : 14rem;
	--flex-side-width      : calc(var(--sidebar-size-width) - 1rem);
	--debug-range-width    : 384px;

}



/* ------------------------------------------------------------------------------------------ */
/*                                                                                            */
/*                                    Override common.css                                     */
/*                                                                                            */
/* ------------------------------------------------------------------------------------------ */

html {
	/* Always show scrollbar */
	overflow-y: scroll;
}

a:visited {
	/* Override common.css */
	color: var(--base-anchor-color-link);
}

ul, ol {
	margin : 0;
	padding: 0;

	list-style: none;
}

img {
	background-color: #f0f0f0;
}

fieldset {
	margin : 1rem 0.5rem 1.5rem;
	padding: 0.5rem 1rem;

	border-radius: var(--base-border-radius);
}

legend {
	padding    : 0 0.5rem;
	margin-left: 0.5rem; /* Position adjustment */

	font-weight: bold;
}

select {
	margin : 0.25rem 0.25rem 0.25rem 0;
	padding: 0.25rem 0.5rem;

	font-size: 0.85rem;
}

textarea {
	field-sizing: content;
	resize      : vertical;

	padding: 0.5rem;

	width     : 100%;
	max-width : 100%;
	min-height: 8rem;
	max-height: 32rem;

	tab-size : 4;
	font-size: 0.85rem;

	word-break : break-all;
}

input {
	/* Chrome 93 and later */
	accent-color: #0075ff;

	font-size: 0.85rem;
}

input[type="checkbox"],
input[type="radio"] {
	width : 1rem;
	height: 1rem;

	vertical-align: middle;
}

input[type="number"] {
	margin : 0.25rem 0.25rem 0.25rem 0;
	padding: 0.25rem;

	text-align: right;

	width: 6rem;
}

input[type="number"] + label {
	vertical-align: text-top;
}

button {
	display: inline-block;

	width: 6rem;

	padding: 0.25rem 0.5rem;

	border       : calc(var(--base-unit-px) * 1) solid var(--color-primary);
	border-radius: var(--base-border-radius);

	font-size      : 1.0rem;
	line-height    : 1.0rem;
	text-decoration: none;

	color     : var(--color-white);
	background: var(--color-primary);

	&:hover {
		color     : var(--color-primary);
		background: var(--color-white);
	}

	&:active {
		border: calc(var(--base-unit-px) * 1) solid var(--color-warning);

		color     : var(--color-white);
		background: var(--color-warning);
	}

	&:focus {
		outline: none;
	}

	&:disabled {
		filter: grayscale(1);
	}
}



/* ------------------------------------------------------------------------------------------ */
/*                                                                                            */
/*                                           Layout                                           */
/*                                                                                            */
/* ------------------------------------------------------------------------------------------ */

header, main, footer {
	margin : 0 auto;
	padding: 0;

	min-width: var(--layout-min-width);
	max-width: 100rem;
}

#header {
	padding-left : 0.5rem;
	padding-right: 0.5rem;

	& #brand {
		margin : 1rem 0 0;
		padding: 1rem;

		border       : calc(var(--base-unit-px) * 1) solid var(--color-gray-dark);
		border-radius: var(--base-border-radius);
	}
}

/*
	Layout using Flexbox.

	<main>
		<div id="sidebar">         : Fixed width and size
		<div id="contents">        : Remaining width
			<div class="flex-side"> : Fixed width and size
			<div class="flex-main"> : Remaining width
*/
main {
	display: flex;
}

#sidebar {
	flex: 0 0 var(--sidebar-size-width);

	position: sticky;
	top     : 0;
	height  : var(--sidebar-sticky-height);

	& > article {
		margin : 1rem 0.5rem;
		padding: 1rem;

		border       : calc(var(--base-unit-px) * 1) solid var(--color-gray-dark);
		border-radius: var(--base-border-radius);
	}
}

#contents {
	flex: 1;

	& > article {
		margin : 1rem 0.5rem;
		padding: 1rem;

		border       : calc(var(--base-unit-px) * 1) solid var(--color-gray-dark);
		border-radius: var(--base-border-radius);
	}
}

#warning-message-for-supported-browser {
	margin : 0.5rem 0;
	padding: 0.5rem 0.75rem;

	border-radius: var(--base-border-radius);

	color     : var(--color-white);
	background: var(--color-error);
}

#copyright {
	text-align: center;
}



/* ------------------------------------------------------------------------------------------ */
/*                                                                                            */
/*                                         Components                                         */
/*                                                                                            */
/* ------------------------------------------------------------------------------------------ */

.container {
	display: flex;

	&:not(:last-child) {
		border-bottom: calc(var(--base-unit-px) * 2) dotted var(--color-gray-medium);
	}
}

.flex-side {
	width: var(--flex-side-width);

	& > h3 {
		font-size     : 1.5rem;
		font-weight   : lighter;
		letter-spacing: calc(var(--base-unit-px) * -1);  /* Adjust the character width to fit within the parent element */

		user-select: none;
	}

	& > p {
		font-size: 85%;
	}
}

.flex-main {
	flex: 1;
}

article > *:first-child {
	margin-top: 0;
}

article > *:last-child {
	margin-bottom: 0;
}

section {
	margin-top   : 1rem;
	margin-bottom: 1rem;
}



/* ------------------------------------------------------------------------------------------ */
/*                                                                                            */
/*                                        Setting Page                                        */
/*                                                                                            */
/* ------------------------------------------------------------------------------------------ */

#setting-copy,
#setting-paste,
#setting-filtering,
#setting-user-interface,
#setting-interaction,
#setting-system {
	/* Variables in fieldset-legend.css */
	--fl-left: 1rem;

	margin : 3rem 0.5rem;
	padding: 1rem;

	border       : calc(var(--base-unit-px) * 1) solid var(--color-gray-dark);
	border-radius: var(--base-border-radius);

	& > h2 {
		padding: 0 0.5rem;

		font-size  : 1.5rem;
		font-weight: normal;
		font-weight: lighter;
	}

	/* Margin Adjustments */
	& > section.container:last-child {
		margin-bottom: 0;
	}
}

/* Margin Adjustments */
#setting > section:last-child {
	margin-bottom: 1rem;
}



/* ------------------------------------------------------------------------------------------ */
/*                                                                                            */
/*                                     Navigation / TabNav                                    */
/*                                                                                            */
/* ------------------------------------------------------------------------------------------ */

#tabnav li {
	display: block;

	& a {
		display    : block;
		user-select: none; /* Disable text selection */

		margin : 0.5rem 0;
		padding: 0.5rem 1.0rem;

		border       : calc(var(--base-unit-px) * 1) solid var(--color-gray-soft);
		border-radius: var(--base-border-radius);

		color     : var(--color-gray-dark);
		background: var(--color-gray-soft);

		text-decoration: none;

		cursor: pointer;

		&:hover {
			border    : calc(var(--base-unit-px) * 1) solid var(--color-primary);
			color     : var(--color-primary);
			background: var(--color-white);
		}

		&.active {
			border    : calc(var(--base-unit-px) * 1) solid var(--color-primary);
			color     : var(--color-white);
			background: var(--color-primary);

			&:hover {
				border    : calc(var(--base-unit-px) * 1) solid var(--color-primary);
				color     : var(--color-primary);
				background: var(--color-white);
			}
		}
	}
}

#setting-action li button {
	display    : block;
	user-select: none; /* Disable text selection */

	margin : 0.5rem 0;
	padding: 0.5rem 1.0rem;

	width: 100%;

	cursor: pointer;

	text-align: left;
}



/* ------------------------------------------------------------------------------------------ */
/*                                                                                            */
/*                                       Format Settings                                      */
/*                                                                                            */
/* ------------------------------------------------------------------------------------------ */

#Format-type > label {
	display: block;
}

#Format fieldset:has(#Format-template),
#Format fieldset:has(#Format-mimetype) {
	display: none;
}

#Format:has(input[value="custom"]:checked) > fieldset:has(#Format-template),
#Format:has(input[value="custom"]:checked) > fieldset:has(#Format-mimetype) {
	display: block;
}

#Format-type,
#PatternMatch-type,
#Tab-position,
#Tab-TaskControl-taskMode,
#Tab-TaskControl-openMode,
#Badge-theme-type {
	& > label {
		display : block;
		position: relative;

		&[data-description]:hover::after {
			content: attr(data-description);

			position: absolute;
			top     : -0.5rem;
			left    : 8rem;

			margin : 0;
			padding: 0.5rem 0.75rem;

			border       : calc(var(--base-unit-px) * 1) solid rgba(0, 0, 0, 0.85);
			border-radius: var(--base-border-radius);

			color           : var(--color-white);
			background-color: rgba(0, 0, 0, 0.85);
		}
	}
}



/* ------------------------------------------------------------------------------------------ */
/*                                                                                            */
/*                                    Custom Delay Settings                                   */
/*                                                                                            */
/* ------------------------------------------------------------------------------------------ */

#Tab-custom-delay-table,
#custom-delay-add-button {
	display: none;
}

#Tab-custom-delay:has(#Tab-custom-delay-enable:checked) #Tab-custom-delay-table,
#Tab-custom-delay:has(#Tab-custom-delay-enable:checked) #custom-delay-add-button {
	display: block;
}

#Tab-custom-delay-table {
	width: 100%;

	margin : 1rem 0;
	padding: 0.25rem 0.5rem;

	border       : calc(var(--base-unit-px) * 1) solid var(--color-gray-light);
	border-radius: var(--small-border-radius);

	& thead > tr > th {
		padding: 0 0.25rem;

		text-align : center;
		white-space: nowrap;
	}
}

#Tab-custom-delay-list {
	& input:invalid {
		background-color: #ff8c00;

		&::placeholder {
			color: #fff;
		}
	}

	& > tr > td {
		text-align: center;

		&[data-cell-type="enable"] {
			width: 1rem;
		}

		&[data-cell-type="url"] {
			width: 100%;

			& > input {
				width: 100%;
			}
		}

		&[data-cell-type="count"] > input {
			width: 4rem;
		}

		&[data-cell-type="delay"] > input {
			width: 5rem;
		}

		&:is([data-cell-type="sort"], [data-cell-type="delete"]) {
			width: 2rem;
		}

		&:is([data-cell-type="url"], [data-cell-type="count"], [data-cell-type="delay"]) {
			& > input:hover {
				border: calc(var(--base-unit-px) * 1) solid var(--color-accent);
			}
		}

		&[data-cell-type="delete"] > input {
			&:hover {
				border: calc(var(--base-unit-px) * 1) solid var(--color-red);

				color           : var(--color-white);
				background-color: var(--color-red);
			}
		}

		&[data-cell-type="empty"] > p {
			margin : 0.5rem;
			padding: 0.5rem;

			border: calc(var(--base-unit-px) * 2) dotted var(--color-error);

			text-align : center;
			font-size  : 1rem;
			font-weight: 700;
			color      : var(--color-error);
		}

		& > input {
			padding: 0.25rem 0.5rem;

			border       : calc(var(--base-unit-px) * 1) solid var(--color-gray-light);
			border-radius: var(--small-border-radius);

			font-size    : smaller;
			overflow     : hidden;
			text-overflow: ellipsis;
		}
	}
}

#custom-delay-add-button {
	text-align: center;
}



/* ------------------------------------------------------------------------------------------ */
/*                                                                                            */
/*                                   Task Control Settings                                    */
/*                                                                                            */
/* ------------------------------------------------------------------------------------------ */

#Tab-TaskControl-chunkSize-form {
	margin-top: 0.5rem;
}

.notice-paste {
	margin-bottom: 0;
}

.notice-highlight {
	color: var(--color-error);
}



/* ------------------------------------------------------------------------------------------ */
/*                                                                                            */
/*                                   User Interface Settings                                  */
/*                                                                                            */
/* ------------------------------------------------------------------------------------------ */

/* Key Bindings Layout */
.trigger-key-binding {
	display    : flex;
	align-items: center;
	gap        : 0.5rem;

	margin-bottom: 0.5rem;
}

.trigger-key-binding select {
	width: 10rem;
}

/* Badge Color Picker Layout */
.custom-color-picker {
	display    : flex;
	align-items: center;
	gap        : 0.5rem;

	margin-bottom: 0.5rem;
}

.custom-color-picker input[type="color"] {
	width     : 3rem;
	height    : 2rem;
	padding   : 0;
	border    : none;
	background: none;
	cursor    : pointer;
}



/* ------------------------------------------------------------------------------------------ */
/*                                                                                            */
/*                                       Debug Settings                                       */
/*                                                                                            */
/* ------------------------------------------------------------------------------------------ */

#Debug-timecoordinate > label {
	display: block;
	width  : 7rem;
}

#Debug-timecoordinate > input[type=radio] {
	display    : block;
	margin     : 0.5rem 0.75rem 0.5rem 0;
	line-height: 1;

	&:after {
		position      : relative;
		right         : -1rem;
		content       : attr(text);
		vertical-align: middle;
	}
}

#Debug-timecoordinate > input[type=range] {
	width: var(--debug-range-width);
}
